md-card {
  margin: 50px;
  background-color: #EEEEEE;
}
md-card:hover {
  background-color: #E5E5E5;
}
span {
  margin-left: 50px;
  cursor: pointer;
  font-size: 14px;
}

span:hover {
  color: gray;
  font-style: italic;
}

textarea, input {
  margin: 10px;
  display: block;
  width: 500px;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

.error {
  color: #dc143c;
  font-size: 12px;
  margin: 10px;
}

input {
  line-height: 15px;
  height: 30px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
