<span routerLink="/users">Back to Users list</span>

<div class="container">
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <input mdInput
           required
           placeholder="Add post name"
           name="title"
           type="text"
           [(ngModel)]="title"
           #titleRef="ngModel"
           minlength="3">

    <div class="error"  *ngIf="titleRef.errors?.required">This field id required</div>
    <div class="error" *ngIf="titleRef.errors?.minlength">Title should be more then 3 characters</div>

    <textarea class="text-position" mdInput
              id="text"
              required
              placeholder="Add post text"
              rows="5"
              cols="120"
              name="body"
              [(ngModel)]="body"></textarea>

    <button md-button type="submit" [disabled]="formRef.form.invalid">Add Post</button>
  </form>
</div>

<input type="text" [(ngModel)]="search" #searchRef="ngModel" (ngModelChange)="onChangeValueInFilter($event)">
{{search}}
<div class="container">
  <h3>Posts from
    <strong>{{user?.username}}</strong>
    <a href=mailto:{{user?.email}}>
      &nbsp;{{user?.email}}
    </a>
  </h3>
</div>

<form [formGroup]="options">
<select formControlName="selector">
  <option>1</option>
  <option>2</option>
  <option>3</option>
</select>

<label>text1</label>
<input type="radio" checked formControlName="choose" value="first">

<label>text2</label>
<input type="radio" formControlName="choose" value="second ">

<label>text3</label>
<input type="radio" formControlName="choose" value="third">
</form>



<div *ngFor="let post of filteredPosts">
  <md-card>
    <app-post [post]="post" (deletePost)="deletePost(post)"></app-post>
  </md-card>
</div>
